<% provide(:title, @user.name) %>

<div class="container" id="pagetop">

  <div class="page-header">
    <h2><%= @user.name %></h2>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <dl>
        <dt>目標体重</dt>
        <dd><%= @user.target_weight %> kg</dd>
        <dt>現在の体重 ( <%= @current_date %>現在 )</dt>
        <dd><%= @current_weight %> kg</dd>
      </dl>
    </div>
  </div>

  <% if @user == current_user %>
    <p>
      <%= link_to fa_icon('pencil-square-o', text: '体重を登録する'),
        new_weight_path,
        class: 'btn btn-primary', data: { no_turbolink: true } %>
    </p>
  <% else %>
    <p>
      <%= link_to fa_icon('pencil-square-o', text: '体重を登録する'),
        new_weight_path,
        class: 'btn btn-primary', data: { no_turbolink: true }, disabled: true %>
    </p>
  <% end %>

  <div class="weight-graph">
    <%= line_chart @graph_data, min: @min_value_in_chart %>
  </div>

  <%= will_paginate @weights, renderer: BootstrapPagination::Rails %>

  <table class="table table-bordered table-striped">
    <tr>
      <th>年月日</th>
      <th>体重(kg)</th>
      <th>修正 / 削除</th>
    </tr>

    <% if @user.weights.any? %>
      <%= render @weights %>
    <% end %>
  </table>

  <%= link_to  '先頭へ戻る', '#pagetop',
    class: 'btn btn-warning',
    id: 'return-to-top'
  %>

</div>
